@charset "UTF-8";

section{
    display: flex;
    text-align: center;
    width: 100px;
}

header{
    margin: 0%;
}
body{
    margin: 0px;
    background-color: navajowhite ;

}

nav{
    text-align: center;
  background-color: sienna;  
}
nav a {
    text-decoration: none ;
   
    margin-right: 5px;
}
.imagem1{
    padding: 10px;
    text-align: center;
}
article{
    text-align: center;
}
main{
    text-align: center;
    
}